.note-box {
    border-radius: 20px;
    border: 2px solid #E4E4E4;
    font-family: 'Basic';
    width: 83vw;
    height: 10vh;
    padding: 2.5vh;
    justify-content: center;
    align-items: center; 
    font-size: 16px;
}

/* 체크박스 기본 스타일 제거 및 원형 만들기 */
.check-box {
    width: 4vh;
    height: 4vh;
    border-radius: 50%; /* 원형으로 만들기 */
    border: 1.5px solid #AEAEAE;
    appearance: none; /* 기본 체크박스 스타일 제거 */
    outline: none;
    position: relative;
    background-color: #FFFFFF;
}

/* 체크된 상태 */
.check-box:checked {
    background-color: #F2F2F2;
   
}

/* 체크된 상태에서 체크 표시 */
.check-box:checked::after {
    content: '✓'; /* 체크 표시 */
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vh;
    color: black;
}
