.feedContainer {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.feedItem {
  background-color: white;
  border-radius: 5vw;
  padding: 2vh;
  height: 30vh;
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedDate{
  display: flex;
  font-family: "Basic";
  flex-direction: row;
  margin-right: 58vw;
  margin-top: -1.4vh;
  margin-bottom: 1.8vh;
}

.feedImage {
  width: 70vw;
  height: 19vh;
  border-radius: 5vw;
}

.Image {
  border-radius: 3vw;
}

.like-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}