.edit-profile-container {
  width: 95%;
  height: 95%;
  margin-top: 5vh;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.profile-image-section {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.edit-profile-image {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #CACACA;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 3vh;
}

.change-profile-image-button {
  margin-top: 3vh;
  width: 47vw;
  height: 3.5vh;
  background-color: #F0F0F0;
  border: none;
  border-radius: 15px;
  font-size: 13px;
  color: #606060;
  cursor: pointer;
}

.edit-field {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-label {
  font-size: 15px;
  margin-right: 4vw;
  margin-bottom: 6vw;
  width: 20%;
}

.edit-input {
  width: 70%;
  padding: 10px;
  border-radius: 30px;
  font-size: 15px;
}

.save-button {
  background-color: #FF7A00;
  border-radius: 20px;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  width: 76%;
  height: 4.3vh;
  text-align: center;
  align-self: center;
  position: fixed;
  bottom: 5vh;
}