.edit-profile-container {
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 15px;
}

.profile-image-section {
  display: flex;
  align-items: center;
  margin-bottom: 3vh;
}

.edit-profile-image {
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  object-fit: cover;
  border: 0px solid #CACACA;
  margin-right: 5vw;
  margin-left: 5vw;
  margin-top: 3vh;
}

.change-profile-image-button {
  margin-top: 3vh;
  width: 47vw;
  height: 3.5vh;
  background-color: #F1F1F1;
  border: none;
  border-radius: 15px;
  font-size: 13px;
  color: #8F8F8F;
  cursor: pointer;
}

.edit-field {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5%;
}

.edit-label {
  font-size: 15px;
  margin-right: 4vw;
  margin-bottom: 6vw;
  width: 20%;
}

.edit-input {
  width: 65%;
  margin-right: 10vw;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
  color: #8F8F8F;
}

.save-button {
  background-color: #FF7A00;
  border-radius: 20px;
  font-size: 15px;
  color: #FFFFFF;
  cursor: pointer;
  width: 75%;
  height: 4.3vh;
  text-align: center;
  margin-top: 90%;
  margin-left: 13%;
  bottom: 5vh;
}