:root {
  --vh: 100%;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Basic";
  font-weight: normal;
  src: url("./fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  padding-left: 2vh;
  padding-right: 2vh;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.date-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #E4E4E4;
  width: 44vw;
  height: 3.3vh;
  font-family: 'Basic';
}

.scroll-box {
  height: 23vh;
  display: flex;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}
.scroll-box::-webkit-scrollbar {
  width: 4px;
}

.scroll-box::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  /* 스크롤바의 색상 */
  border-radius: 10px;
}

.scroll-box2 {
  display: flex;
  position: absolute;
  overflow-y: auto;
  flex-direction: column;
}
.scroll-box2::-webkit-scrollbar {
  width: 4px;
}

.scroll-box2::-webkit-scrollbar-thumb {
  background-color: #F2F2F2;
  border-radius: 5px;
}

.room-friend-box {
  display: flex;
  align-items: center;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 94%;
  margin: 1vh;
  height: 7vh;
  flex-shrink: 0;
  box-sizing: border-box;
  font-family: 'Basic';
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  text-align: center;
  background-color: #FCFCFC;
  padding: 20px;
  border-radius: 15px;
  width: 57vw;
  height: 15vh;
  outline: none;
  font-family: 'Basic';
}

.row-content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.round-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #E6E6E6;
  width: 23vw;
  height: 3.5vh;
  font-family: 'Basic';
}

.round-button-orange{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0px solid #FF7A00;
  width: 23vw;
  height: 3.5vh;
  font-family: 'Basic';
}

.notification-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  width: 100%;
  height: 6vh;
  margin-bottom: 1vh;
  font-family: 'Basic';
}