.p1 {
    font-family: "basic";
    font-size: 28px;
    font-weight: bold;
    color: #FF7A00;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.button-group {
    justify-content: center;
    flex-direction: row;
    display: flex;
    position: fixed;
    bottom: 5vh;
}

.cancel {
    width: 40vw;
    height: 4.7vh;
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #E6E6E6;
    border-radius: 30px;
    font-size: 14px;
}

.submit {
    width: 40vw;
    height: 4.7vh;
    background-color: #ff9500;
    border: none;
    color: white;
    border-radius: 30px;
    font-size: 14px;
}

.edit-input2 {
    width: 55vw;
    height: 3.7vh;
    border-radius: 20px;
    font-size: 15px;
    text-align: center;
    color: #8F8F8F;
    font-family: "Basic";
    font-weight: bold;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
}