.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.p1 {
    width: 199px;
    height: 70px;
    top: 122px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: "basic";
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    color: #FF7A00;
    margin-right: 18vw;
    margin-bottom: -8vh;
}
.p2 {
    width: 199px;
    height: 70px;
    top: 122px;
    left: 26px;
    gap: 0px;
    opacity: 0px;
    font-family: "basic";
    font-size: 28px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    color: #FF7A00;
    margin-right: 18vw;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin: 10px 0 5px;
    font-size: 14px;
}

input {
        flex: 1; /* 입력창이 가능한 공간을 모두 차지하게 함 */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      
}

.button-group {
    justify-content: space-between;
    position: fixed;
    margin-top: 5vh;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.cancel {
   width: 150px;
   height: 34px;
   background-color:#FFFFFF;
   color: #000000;
   border: 1px solid #E6E6E6;
   border-radius: 1000px;
   font-size: 14px;
}

.submit {
    width: 150px;
    height: 34px;
    background-color: #ff6600;
    color: white;
    border-radius: 1000px;
    font-size: 14px;
}
.signup-container img{
    width: 100px;
    height: 100px;
    margin-top: -1vh;
    top: -1066px;
    left: -924px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    margin-bottom: 3vh;
}
